<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.soft.service.impl.Accountmapper">  
  
  <select id="getIdCnt" parameterType="memberVO" resultType="java.lang.Integer">
       select
       	count(*)
       from
        tbl_user
       where 
        me_id = #{me_id}
  </select>
  
  <select id="actionLogin" parameterType="memberVO" resultType="memberVO">
  		select
  		 * 
  		from
  			tbl_member
  		where
  			me_id = #{me_id}
  		and
  			me_pwd = #{me_pwd} 
  </select>
  
  <update id="updateLastLogin" parameterType="memberVO">
  	update
  		tbl_member
	set
		me_latest_login = sysdate()
	where
		me_id=#{me_id}
  </update>
  
  
  <insert id="insertMember">
  		insert into tbl_user
  		   (
			 me_name
			,me_id
			,me_pwd
			,me_auth
			,me_email
			,me_tel
			,me_latest_login
			,me_delete_yn
			,me_regDate
  		   )
  			values
  		   (
	  		 #{me_name}
			,#{me_id}  		
	  		,#{me_pwd}
	  		,#{me_auth}
	  		,#{me_email}
	  		,#{me_tel}
	  		,#{me_latest_login}
	  		,#{me_delete_yn}
	  		,#{me_regDate}
  		   )
  </insert>
  
  
  
  
  
  
  
  
</mapper>