<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.soft.dao.BoardDAO">


	<!-- 글 목록 -->
	<select id="BoardList" resultType="boardVO" parameterType="boardVO">
		select
		 *
		from
		 tbl_board
	</select>
	
	<update id="replyCount" parameterType="int">
	update tbl_baord set board_reply_hit = board_reply_hit + #{amount} where board_no = #{board_no}
	</update>
	
	<!--  글 작성 -->
	<insert id="insertBoard">
  		insert
		 into
		tbl_board
		(
			board_no	
		 ,	board_title
		 ,  board_content
		 ,	board_writer
		 ,	board_count
		 ,	board_regdate
		)
		values
		(
			#{board_no}
		,	#{board_title}
		,   #{board_content}
		,	#{board_writer}
		,	#{board_count}
		,	#{board_regdate}
		)
	</insert>
	
	

	<!-- 게시글 조회 -->
	<select id="BoardRead" parameterType="int" resultType="boardVO">
		select
		 *
		from 
		 tbl_board
		where board_no = #{board_no}
	
	</select>


	<!-- 게시글 수정 -->
	<update id="BoardUpdate" parameterType="boardVO">
		update tbl_board
			set board_title = #{board_title},	
				board_content = #{board_content}
		where board_no = #{board_no}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="BoardDelete" parameterType="int">
		delete 
		  from tbl_board
		where board_no = #{board_no}
	</delete>

	<!-- 조회수 -->
	<update id="BoardHit" parameterType="int">
		update tbl_board set
		board_count = board_count+1
		where board_no = #{board_no}
	</update>
	
	
	<!-- 댓글 조회 -->
	<select id="ReadReply" resultType="replyVO">
		select
		   reply_no
		  ,reply_content
		  ,reply_writer
		  ,reply_regdate
		 from tbl_reply
		 where board_no = #{board_no}
	</select>

	<!-- 댓글 작성 -->
	<insert id="replyWrite">
		insert into tbl_board 
		(
			board_no
		   ,reply_no
		   ,reply_content
		   ,reply_writer
		) 
		values
		(
			#{board_no}
		   ,#{reply_no}
		   ,#{reply_content}
		   ,#{reply_writer}
		)   
	</insert>
	
	<insert id="insertFile">
		insert into tbl_file
		(
			file_no
		,	bno
		,	org_file_name
		,	stored_file_name
		,	regdate
		,	del_gb	
		)
		values
		(
			#{file_no}
		,	#{bno}
		,	#{org_file_name}
		,	#{stored_file_name}
		,	#{regdate}
		,	#{del_gb}
		
		)
	</insert>
	
	<!-- <insert id="insertLog" parameterType="LogVO">
		insert into tbl_log (LOGNO,MEMBER_ID,BNO,RNO,QUESTIONID,CATEGORI)
	values
	((SELECT NVL(MAX(LOGNO),0)+1 FROM TBL_LOG), #{memberId} , #{bno} , #{rno}, #{questionId}, #{categori})
	</insert>
	
	<delete id="deleteLog" parameterType="LogVO">
	delete from tbl_log where memberId = #{memberId} and bno = #{bno} and categori = #{categori}
	</delete>
	
	<delete id="deleteReplyLog" parameterType="logVO">
	delete from tbl_log where memberId = #{memberId} and rno = #{rno} and categori = #{categori}
	</delete>  	
	
	
	
	<select id="memberLog" resultMap="LogVO">
	select 
		a.bno
	,	a.rno
	,	a.memberId
	,	a.questionId
	,	a.categori
	,	a.logdate
	,	b.board_no
	,	b.board_title
	,	b.board_writer
	,	c.reply_writer
	,	c.reply_no
	from tbl_log a
		left outer join tbl_board b on a.bno = b.board_no
		left outer join tbl_reply c on a.rno = c.reply_no
		where a.memberId = #{memberId} orderby a.logdate desc
	</select>
	
	<select id="memberWrite" resultMap="boardVO">
	select
		board_no
	,	board_title
	,	board_writer
	,	board_regdate
	from tbl_board where board_wirter = #{board_writer} order by board_regdate desc
	</select>
	
	<select id="memberReply" resultMap="replyVO">
		select
			a.reply_no
		,	a.reply_regdate
		,	b.board_no
		,	b.board_title
		,	b.board_writer
		from tbl_reply a left outer join tbl_board b
		on a.board_no = b.board_no
		where a.reply_writer = #{memberId} order by a.reply_regdate desc
	</select> -->

	 <!-- 게시판 검색 -->
	<!-- <select id="BoardListPage" resultType="boardVO" parameterType="SearchCriteria">
		select 
			board_no
		   ,board_content
		   ,board_writer
		   ,board_regdate
		 from
			(
			 select 
			 	board_no
			   ,board_title
			   ,board_content
			   ,board_writer
			   ,board_regdate
			   ,ROW_NUMBER() OVER(ORDER BY BOARD_NO DESC) AS RNUM
			  from tbl_board
			   where 1=1
			   <include refid="search"></include>	 
				) MP
			  WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
			  order by board_no desc
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">and board_title like '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">and board_content like '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">and board_writer like '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">and (board_title like '%' || #{keyword} || '%') or (board_content like '%' || #{keyword} || '%')</if>
		</if>
	</sql> -->



</mapper>  