<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.soft.dao.ItemDAO">

	<select id="categoryList" resultType="CategoryVO">
	with recursive cte_connect_by as (
	select 1 as level, s.* from tbl_goods_category s where cateCodeRef is null
	union all
	select level + 1 as level, s.* from cte_connect_by r inner join tbl_goods_category s on  r.cateCode = s.cateCodeRef
	)
	select     
	level   , cateName   , cateCode   , cateCodeRef   
	from cte_connect_by
	</select>

</mapper>  