<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.soft.dao.MemberDAO">  
  
  
  	<!-- 회원 가입 -->
  	<insert id="register">
  		insert
		 into
		tbl_member
		(
			me_id		
		 ,	me_email
		 ,  me_name
		 ,	me_pwd
		 ,	me_regdate
		)
		values
		(
			#{me_id}
		,	#{me_email}
		,   #{me_name}
		,	#{me_pwd}
		,	now()
		)
  	</insert>
  	
  	<!-- 아이디 중복 체크 -->
  	<select id="idChk" resultType="int">
  		select 
  		 count(*)
  		from 
  		 tbl_member
  		where me_email = #{me_email}
  	</select>
  	
  	<!-- 비밀번호 체크 -->
  	<select id="passChk" resultType="int">
  		select 
  		 count(*)
  		from 
  		 tbl_member
  		where me_email = #{me_email}
  		and   me_pwd   = #{me_pwd}
  	</select>
  	
	
	<!-- 로그인 확인 -->
	<select id="login" resultType="memberVO">
		select 
		   *
		from
		tbl_member
		where me_email = #{me_email} 
		and me_pwd = #{me_pwd}
	</select>
	
	<select id="memberInfoSearch" parameterType="memberVO" resultType="memberVO">
	<![CDATA[
		select
		 *
		from 
			tbl_member
		where 
			me_id = #{me_id}
	]]>
	</select> 
	
	<!-- 비밀번호만 변경 -->
	<update id="memberUpdate" parameterType="memberVO">
			update tbl_member
			set
			me_pwd = #{me_pwd} 
			where me_id = #{me_id}
	</update>
	
	
	<!-- 회원관리 -->
	<select id="memberManage" resultType="memberVO" parameterType="memberVO">
	select * from tbl_member
	</select>
	
	<!-- 회원탈퇴 -->
	<delete id="memberDelete" parameterType = "int">
		delete from tbl_member where me_id = #{me_id}
	</delete>
	
	<update id="updateImg">
		update tbl_member set me_image = #{me_image} where me_id = #{me_id}
	</update>
	
	<!-- 관리자 지정 -->
	<update id="selectManage" parameterType="memberVO">
	update tbl_member set adminCk = #{adminCk},state = #{state} where me_id = #{me_id}
	</update>
	
	<update id="stateChk" parameterType="memberVO">
	update tbl_member set state = #{state} where me_id = #{me_id}
	</update>
	
	<insert id="insertAccount">
		insert into tbl_member
		(
			me_id
		,	me_email
		,	me_pwd
		,	adminCk
		)
			values
		(
			#{me_id}
		,	#{me_email}
		,	#{me_pwd}
		,	#{adminCk}
		)
	</insert>
	
	<update id="memberChoice" parameterType="memberVO">
		update tbl_member set state = '대기중' where me_id = #{me_id} 
	</update>
	
	<select id="HomeMemberList" parameterType="memberVO" resultType="memberVO">
		SELECT 	
			*
		FROM TBL_MEMBER
		ORDER BY ME_REGDATE DESC
		LIMIT 5
	</select>
	
	<select id="HomeGmList" parameterType="memberVO" resultType="memberVO">
		SELECT 	
			*
		FROM TBL_MEMBER
		WHERE STATE = '관리자'
		ORDER BY ME_REGDATE DESC
		LIMIT 6
	</select>
	
	<!-- 비밀번호 초기화 -->
	<update id="pwValidation" parameterType="memberVO">
		update tbl_member set me_pwd = #{me_pwd} where me_id = #{me_id}
	</update>
	
</mapper>