<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.soft.dao.NoticeDAO">

	<!-- 글 목록 -->
	<select id="NoticeList" resultType="NoticeVO" parameterType="NoticeVO">
		select
		    notice_no
		 ,	notice_title
		 ,	notice_writer
		 ,	notice_count
		 ,	notice_regdate
		 ,	notice_updateDate
		 ,  isFixed
		from
		 tbl_notice
		 where useYn = '1'
	</select>

	<select id="selectNoticeImportant" resultType="NoticeVO" parameterType="NoticeVO">
		select * from tbl_notice where isFixed = '1'
	</select>

	<!-- 메인페이지 바인딩  -->
	<select id="HomeNoticeList" resultType="noticeVO" parameterType="noticeVO">
		select * 
		from tbl_notice 
		order by notice_count desc
		LIMIT 6
	</select>
	
	<!--  글 작성 -->
	<insert id="insertNotice">
  		insert
		 into
		tbl_notice
		(
			notice_no	
		 ,	notice_title
		 ,  notice_content
		 ,	notice_writer
		 ,	notice_count
		 ,	notice_regdate
		 ,  isFixed
		)
		values
		(
			#{notice_no}
		,	#{notice_title}
		,   #{notice_content}
		,	#{notice_writer}
		,	#{notice_count}
		,	CURRENT_TIMESTAMP()
		,	#{isFixed}
		)
	</insert>
	
	<!-- 게시글 조회 -->
	<select id="NoticeRead" parameterType="int" resultType="NoticeVO">
		select
		 *
		from 
		 tbl_notice
		where notice_no = #{notice_no}
	
	</select>
	
	<!-- 게시글 수정 -->
	<update id="NoticeUpdate" parameterType="NoticeVO">
		update tbl_notice
			set notice_title = #{notice_title},	
				notice_content = #{notice_content},
				notice_updateDate = CURRENT_TIMESTAMP(),
				isFixed = #{isFixed}
		where notice_no = #{notice_no}
	</update>
	
	<!-- 게시글 삭제 -->
	<update id="NoticeDelete" parameterType="int">
		update tbl_notice set
		use_yn = '0'
		where notice_no = #{notice_no}
	</update>

	<!-- 조회수 -->
	<update id="NoticeHit" parameterType="int">
		update tbl_notice set
		notice_count = notice_count+1
		where notice_no = #{notice_no}
	</update>
	
	<select id="lastNoticeList" parameterType="int" resultType="NoticeVO">
	 <![CDATA[
	SELECT 
		notice_no
	,   notice_title 
	FROM tbl_notice
		WHERE notice_no < #{notice_no}  
	ORDER BY notice_no DESC LIMIT 1
	]]>
	</select>
	
	<select id="nextNoticeList" parameterType="int" resultType="NoticeVO">
	 <![CDATA[
	SELECT 
		notice_no
	,   notice_title 
	FROM tbl_notice
		WHERE notice_no > #{notice_no}  
	ORDER BY notice_no LIMIT 1
	]]>
	</select>
	
	<select id="noticeCnt" parameterType="noticeVO" resultType="noticeVO">
	 <![CDATA[
			SELECT
			    COUNT(CASE 
			            WHEN notice_regdate >= CURDATE() 
			                 AND notice_regdate < CURDATE() + INTERVAL 1 DAY 
			            THEN notice_no 
			         END) AS dayCnt,
			    COUNT(CASE 
			            WHEN notice_regdate >= CURDATE() - INTERVAL 7 DAY 
			                 AND notice_regdate < CURDATE() 
			            THEN notice_no 
			         END) AS weekCnt,
			    COUNT(CASE 
			            WHEN notice_regdate >= DATE_FORMAT(CURDATE(), '%Y-%m-01') 
			                 AND notice_regdate < DATE_FORMAT(CURDATE() + INTERVAL 1 MONTH, '%Y-%m-01') 
			            THEN notice_no 
			         END) AS monthCnt,
			    COUNT(CASE 
			            WHEN YEAR(notice_regdate) = YEAR(CURDATE()) 
			                 AND notice_regdate >= DATE_FORMAT(CURDATE(), '%Y-01-01') 
			                 AND notice_regdate < DATE_FORMAT(CURDATE() + INTERVAL 1 YEAR, '%Y-01-01') 
			            THEN notice_no 
			         END) AS yearCnt
			FROM
			    tbl_notice
	]]>
	</select>
</mapper>